<header class="header">
  <div class="container" style="height: 100% !important;">
    <div class="row" style="height: 100% !important;">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1>New Age is an App landing page that will help you beautifully showcase your new mobile app, or anything else!</h1>
          <a class="btn btn-outline btn-xl"> Start Now For Free!</a>

        </div>
      </div>
      <div class="col-lg-5 my-auto">
        
              
                <img src="../../assets/img/z222-2.png" alt="" class="img-fluid">
        

      </div>
    </div>

  </div>
</header>