<section id="features" class="features">
<div class="container">
<div class="section-heading text-center">
  <h2>Unlimited Features, Unlimited Fun</h2>
  <p class="text-muted">Check out what you can do with this app theme!</p>
  <hr>
</div>
<div class="row">
  <div class="col-lg-4 my-auto">
    <div class="device-container">
      <div class="device-mockup">
        <div class="device">
          <div class="screen">
            <img class="img-fluid" src="../../assets/img/z222-2.png" alt="">
          </div>
          <div class="button"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-8 my-auto">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6">
          <div class="feature-item">
              <i class="fas fa-mobile-alt text-primary"></i>
              <h3>Device Mockups</h3>
              <p class="text-muted"> Ready to use HTML/CSS device mockups, no Photoshop required!</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-item">
              <i class="fas fa-camera text-primary"></i>
              <h3>Flexible Use</h3>
              <p class="text-muted">Put an image, Video, animation, or anything else in the screen!</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <div class="feature-item">
              <i class="fas fa-gift text-primary"></i>
              <h3>Free to Use</h3>
              <p class="text-muted">As always, this theme is free to download and use for any purpose!</p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="feature-item">
              <i class="fas fa-unlock text-primary"></i>
              <h3>Open Source</h3>
              <p class="text-muted">Since this theme is MIT licensed, you can use it commercially!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>