<section id="download" class="download  text-center" style="  background: linear-gradient(#fdcc52,#fdc539);">
<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h2 class="section-heading">Discover what all the buzz is about!</h2>
      <p>Our app is available on any mobile device! Download now to get started!</p>
      <div class="badges">
        <a href="#" class="badge-link" style="margin-right: 30px "><img src="../../assets/img/google-play-badge-logo-png-transparent.png" alt=""></a>
        <a href="#" class="badge-link"><img src="../../assets/img/apple-app-store-badge-white.png" alt=""></a>
      </div>
    </div>
  </div>

</div>
</section>