section.download {
    position: relative;
    padding: 150px 0;
}

 h2 {
    font-size: 70px;
    margin-top: 0;
    font-weight: 200;
 letter-spacing: 1px;
}
p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}


img{
    height: 60px;
}