#mainNav{
    border-color: rgba(34,34,34,.05);
background-color: #fff;
-webkit-transition: all .35s;
-moz-transition: all .35s;
transition: all .35s;
font-family: Catamaran,Helvetica,Arial,sans-serif;
font-weight: 200;
letter-spacing: 1px;
}
.container{
    max-width: 720px;
    width: 100%;
}
#mainNav .navbar-brand {
    color: #fdcc52;
    font-family: Catamaran,Helvetica,Arial,sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}
li>a{
    color: rgba(255,255,255,.7);
}