section.header {

    position: relative;
    padding: 250px 0;
    background-image: url(../../assets/img/cell-in-office.jpg);
    background-position: center;
   
    background-size: cover;
    /* height: 80%; */

}
.content {

    position: relative;
    /* z-index: 1; */

}
 h2 {

    font-size: 80px;
    max-width: 450px;

    margin-top: 0;
    
    margin-bottom: 25px;
    
    color: #fff;
}
.btn-xl {

    font-size: 11px;
    padding: 15px 45px;

}
.btn {

    border-radius: 300px;
    
    letter-spacing: 2px;
    text-transform: uppercase;

}
.btn-outline {

    color: #fff;
    border: 1px solid;
    border-color: #fff;

}
.overlay {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.10);

}